<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Lista alueista!</h1>

        <ol>
            <li th:each="alue: ${alueet}">
                <span th:text="${alue.nimi}">alueen nimi</span> <a th:href="${'/alueet/' + alue.alueid}">linkki</a>
            </li>
	</ol>
	<!--<p>-->
		Lisää uusi alue:<br/>
		<form action="/alueet/" method="POST">
			<input type="text" name="nimi"/><br/>
			<input type="submit" value="Uusi aihe"/><br/>
		</form>
	<!--</p>-->
    </body>
</html>
